[Unit]
Description=Gunicorn service for Flask app
After=network.target

[Service]
User=root
WorkingDirectory=/root/stock_trading
Environment="PATH=/root/stock_trading/.venv/bin"
ExecStart=/root/stock_trading/.venv/bin/gunicorn -c gunicorn.conf.py -b 0.0.0.0:8001 "run:app"

[Install]
WantedBy=multi-user.target